.scrolling-wrapper {
    padding:1em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.scroll-card {
    display: inline-block;
}

.is-horizontal-center {
    justify-content: center;
}
