<!DOCTYPE html>
<html class="has-navbar-fixed-bottom">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tattune | View Your Music</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/extra.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

</head>
<body>
  <% posts.forEach(function(post){ %>
<audio controls>
  <source src="<%= typeof post.post_id !='undefined' ? post.post_id:''%>" type="audio/<%= filetype %>">
</audio>
<br>
  <% }); %>
</body>
</html>
