<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first Bulma website</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section class="hero is-small is-primary is-centered">
      <div class="hero-head">
        <nav class="navbar" role="navigation">
          <div class="navbar-brand">LOGO</div>
          <div class="navbar-menu is-active">
            <div class="navbar-start"></div>
            <div class="navbar-end">
              <a class="navbar-item">login</a>
              <a class="navbar-item">signup</a>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="container is-grouped-centered">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <div class="content">
              content 1
            </div>

            <div class="content">
              content 2
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    <footer class="footer has-text-centered">
      <div class="container">
         <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p>
              <strong class="has-text-weight-semibold">
                <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.1</a>
              </strong>
            </p>
            <p>
              <small>
                Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
              </small>
            </p>
            <p style="margin-top: 1rem;">
              <a href="http://bulma.io">
                <img src="made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    -->
    <script type="text/javascript" src="lib/main.js"></script>
  </body>
</html>
