
<!DOCTYPE html>
<html>
    <head>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
        <script type="text/javascript" src="fileHandler.js"></script>
    </head>
    <body >

      <div id="audioFile">
           <input type="file" id="audioFileUpload" multiple size="50"  onchange="uploadFile()">
       </div>
       <div id="ren">

       </div>
       <div id="yo"></div>
       <div id="waveform">WAVEFORM DIV</div>
       <div id="toSave">TO SAVE DIV</div>
       <p id="uploadResponse">UPLOAD RESPONSE P</p>
       <p id="imageText">IMAGE TEXT P</p>
       <div id="asdf" test>
           <button onClick="download()">Download</button>
       </div>
       <div id="op"></div>


       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>


        <h3><%= typeof msg != 'undefined' ? msg:''%></h3>
        <form action='/upload' enctype="multipart/form-data" method='post'>
          <div class="file-field input-field">
            <div class="btn grey">
              <span>File</span>
              <input name='myAudio' type="file">
          </div>
          <div class="file-path validate" type="text">
          </div>
        </div>
          <input type="submit" class="btn"></button>
        </form>

    </body>
</html>
