<!DOCTYPE html>
<html class="has-navbar-fixed-bottom">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tattune | View Your Music</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/extra.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!-- <script src="./lib/f ileHandler.js"> -->
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="level is-marginless">
                <div class="level-item">
                    <h1 class="title is-1">LOGO</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container" style="max-width:250px;">
          <form action='/login' method='post'>
            <!-- username -->
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="username" placeholder="username" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>

            <!-- password -->
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <!-- login button -->
            <div class="level is-marginless">
                <div class="level-item">
                    <div class="field has-text-centered">
                        <div class="control">
                            <input type="submit" class="button is-primary">
                        </div>
                    </div>
                </div>
            </div>

          </form>
            <div class="level is-marginless">
                <div class="level-item">
                    <p class="help">or sign up <a href="">here</a></p>
                    <p class="help">or sign up <a href="/signup.html">here</a></p>
                </div>
            </div>
        </div>
    </div>
    </body>
// <script type="text/javascript" src="lib/main.js"></script>
</html>
