@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

@font-face {
  font-family: 'Comfortaa';
  src: url(https://fonts.googleapis.com/css?family=Comfortaa) format('truetype');
}


// Google fonts

// blacks
$bistre: #352B26;
$roseebony: #5B4A42;

// blues
$pewter: #95B2B8;

// purples
$pansy: #70163C;
$dustyrose: #FFDBE1;

// yellows
$oldgold: #D8B647;
$lemonchiffon: #FFF5D1;
$sunglow: #FECB2F;

// Set the derived variables
$primary: $pansy;
// Import the rest of Bulma
@import "../node_modules/bulma/bulma";
